@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
  }

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}

main{
    height: calc(100vh - 70px);
    display: flex;
    background-color: black;
    color: white;
}

.side-bar{
    height: 100%;
    width: 250px;
    background-color: black;
    color: white;
    overflow-y: scroll;
}
.side-bar::-webkit-scrollbar {
    display: none;
}

.logo-left{
    margin-left: -200px;
}

#menu{
    cursor: pointer;
    margin-left: 10px;
}

#menu-icon{
    width: 10px;
}

.search{
    display: flex;
}
  
.search form{
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
    border-radius: 50px;
}

.search input{
    width: 600px;
    padding:10px;
    border: 0;
    height: 100%;
    border-radius: 20px 0px 0 20px;
}
  
input:focus{
    outline: none;
    border: 1px solid #ddd;
}

.search button{
    height: 100%;
    width: 60px;
    border: none;
    border-radius: 0px 20px 20px 0px;
}
  
#mic{
    background-color: hsla(0, 0%, 30%, 0.5);
    margin-left: 10px;
    border-radius: 100%;
    padding: 10px;
}

.material-icons {
    color: rgb(100, 100, 100);
    padding: 0 7px;
    cursor: pointer;
}

.nav{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.nav-link{
    display: flex;
    align-items: center;
    padding: 12px 25px;
}

.nav-link span{
    margin-left: 15px;
}

.nav-link:hover {
    background: hsla(0, 0%, 30%, 0.5);
    border-radius: 20px;
    cursor: pointer;
 }

.active {
    background: #e5e5e5;
    border-radius: 20px;
    background-color: hsla(0, 0%, 30%, 0.5);
}

hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
    margin-bottom: 10px;
}

.content{
    /* height: 1001px; */
    width: 1250px;
    display: grid;
    grid-template-columns:2fr 2fr .9fr;
    overflow-y: scroll;
    padding: 10px;   
}
.content::-webkit-scrollbar {
    display: none;
}

.filters{
    position: fixed;
    left: 250px;
    top: 60px;
    width: calc(100% - 250px);
    height: 55px;
    background: black;
    padding: 0 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 1;
}

.filters::-webkit-scrollbar{
    display: none;
}

.filter-options{
    flex:0 0 auto;
    padding: 10px 20px;
    border-radius: 50px;
    background:black;
    border:1px solid gray;
    text-transform: capitalize;
    margin-right: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.filter-options:hover{
    background: hsla(0, 0%, 30%, 0.5);
}

.filter-options.active{
    color:#fff;
    background:hsla(0, 0%, 30%, 0.5);
}

.content{
    width: 100% auto;
    height: 100% auto;
    padding: 20px;
    overflow-y: scroll;
}

.thumbnail{
    width: 390px;
    border-radius: 30px;
    cursor: pointer;
}

.channel-icon{
    /* width:35px; */
    margin-right: 10px;
    margin-top: -17px;
    height: 35px;
    border-radius: 1000px;
}

.channel-name{
    color: gainsboro;
}

.channel-name:hover{
    cursor: pointer;
    color: white;
}

.content1{
    display: flex;
    justify-content: start;
    width: 390px;
    margin-top: -10px;
}

.title{
    width: 349px;
    margin-bottom: 10px;
}

.thumbnail-text{
    margin-top: -20px;
}


/* Video Page */

.video-div{
    position: relative;
    width: 1410px;
    left: 100px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.videoPage-video{
    width: 900px;
    border-radius: 10px;
    height: 500px;
    margin-bottom: 20px;
}

.videoPage-title{
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}

.videoPage-video-container{
    width: 59%;
}

.videoPage-channel-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.videoPage-channel{
    width: 64%;
}

.videoPage-channel-icon-container{
    display: flex;
    align-items: center;
}

.videoPage-channel-icon{
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    margin-right: 10px;
}

.videoPage-description-text{
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;
    background-color: hsla(0, 0%, 30%, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.videoPage-description-text #description {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.videoPage-likes-dislikes{
    display: flex;
    align-items: center;
    height: 40px;
    background-color: hsla(0, 0%, 30%, 0.5);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}

#like-button, #dislike-button{
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#like-button{
    border-right: white 1px solid;
}

#like-button:hover, #dislike-button:hover {
    background-color: #333;
    border-radius: 30px;
}

#see-more-button{
    background-color: hsla(0, 0%, 30%, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#see-more-button:hover {
    background-color: #333;
}
/* For Mobile */
/* @media (min-width: 320px) and (max-width: 425px) {

    .header{
        position: relative;
    }
    
    .header .logo-left{
        width: 40px;
        position: absolute;
        right: 170px;
        top: 100px;
    }
    #menu{
        display: none;
    }
    #search-bar form{
        position: absolute;
        top: 150px;
        width: 270px;
    }
    #search-bar #mic{
        position: absolute;
        top: 150px;
        left: 285px;
        width: 270px;
    }
    .header .icons-right{
        position: absolute;
        top: 5px;
        left: 155px;
    }

    .side-bar{
        display: none;
    }

    .main{
        position: relative;
    }

    .content{
        position: fixed;
        display: grid;
        grid-template-columns: 0.1fr;
        top: 200px;
        overflow-y: scroll;
        height: 900px;
    }
} */
